.cRight {
    background-color: #ebebeb;
}

.cLeft {
    background-color: white;
}

.cRedBorder {
    border: 1px solid red;
    border: none;
}

.cClose {
    font-size: 42px;
}

.cMainContent {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ebebeb;
}

.cPM20 {
    padding: 20px;
    margin: 20px;
} 

.cP20 {
    padding: 20px;
   
} 

.cMr20 {
    margin-right: 20px;
}

.cMt20 {
    margin-top: 20px;
}