<div class="main-container cRedBorder">
 <div fxLayout="row" fxFill fxLayoutAlign=" stretch" >
   <div fxLayout="column" fxLayoutGap="10px" fxFlex class="cLeft cRedBorder">
    <div fxLayout="row" 
    fxLayoutAlign="space-between center"
    fxLayoutGap="10px" >
      <div class="cRedBorder">
        <!-- LEFT -->
      </div>
      <div>

        <button class="btn btn-icon btn-success cMr20 cMt20">
          <clr-icon shape="check"></clr-icon>
        </button>
      </div>
    </div>
    <div class="cRedBorder">


      <div class="cMainContent">
        Main Content
      </div>

    </div>
   </div>
   <div fxFlex="35" class="cRight cRedBorder cP20">RIGHT</div>
 </div>
</div>
