<div class="main-container">
  <div class="alert alert-app-level" *ngIf="true">
    App Level
  </div>
  <header class="header-6">
    <div class="branding">
      .
    </div>
    <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text"
        >Dashboard</a
      >
      <a href="javascript://" class="nav-link nav-text">Route X</a>
    </div>
    <div class="header-actions">
      <a
        href="javascript://"
        class="nav-link nav-icon"
        aria-label="settings"
      >
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </header>
  <nav class="subnav">
    Subnav
  </nav>
  <div class="content-container">
    <div class="content-area">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        Content
      </div>
    </div>
    <nav class="sidenav" [clr-nav-level]="2">
      SideNav
    </nav>
  </div>
</div>
